
:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
  }
  
  html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    padding-top: 60px;  
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
  }
  
  /* HEADER */
  header {
    padding: 20px 20px 0 20px;
    position: sticky;
    top: 0;
    z-index: 5;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .netflixLogo img {  
    height: 35px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  
  
  .main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }
  
  
  /* MAIN CONTAINER */
  .main-container {
    padding: 50px;
  }
  
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }

  #div_box {
    display: flex;
    flex-direction: column;
    height: 360px;
    overflow: hidden;
    padding-bottom: 20px;
  }

  #div_box_titre {
    background-color: var(--primary);
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 12px;
    z-index: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  #div_box_annee {
    background-color: var(--primary);
    z-index: 1;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-top: -15px;
    color: var(--dark);
  }
  
  .box a {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-top: 140%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    transition: transform .3s;
    background-color: var(--primary);
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    width: 100%;
    height: 100%;
    margin-top: -140%;
    padding-bottom: 0px;
    position: absolute;
    object-fit: cover;
    border-radius: 2px;
  }

  #inputLabel_films {
    margin-left: 21px;
    text-align: right;
  }

  #input_div {
    padding: 10px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 175px);
  }

  #inputAdmin {
    border: none;
    outline: none;
    width: 250px;
    height: 25px;
    max-height: 250px;
  }

  #inputAdmin:target  {
    border: none;
    border-radius: 0%;
  }

  #inputAdminEnregistrer {
    border: none;
    outline: none;
    height: 25px;
    width: 250px;
  }

  #inputAdminEnregistrer:target  {
    border: none;
    border-radius: 0%;
  }

  #inputAdminEnregistrer:hover {
    background-color: var(--dark);
  }

  #div_box_film {
    margin: 120px;
    background: rgb(20, 20, 20, 0.9);
    display: grid;
    grid-gap: 20%;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 720px;
    overflow: hidden;
  }

  #div_box_film_edit {
    margin: 120px;
    background: rgb(20, 20, 20, 0.9);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    height: 720px;
    overflow: hidden;
  }

  #div_details {
    padding-top: 50px;
    padding-left: 50px;
    width: 360px;
  }

  #div_details_film p {
    margin: 0px;
    color: #686868;
  }

  #option {
    display: grid;
    grid-gap: 10%;
    grid-template-columns: repeat(2, 1fr);
  }

  #div_img {
    float: right;
    padding-top: 79px;
    width: 360px;
    height: 432px;
  } #div_img img {
    max-width: 360px;
    max-height: 432px;
    background-size: cover;
  }
  /* LINKS */
  #liens {
    color: var(--light);
    text-decoration: none;
  }
  #liens:visited {
    color: var(--light);
  }
  #liens:hover {
    color: var(--dark);
  }

  .link {
    opacity: 0.9;
    margin-top: 25px;
    background: rgb(20, 20, 20);
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color: var(--dark);
  }
  
  
  /* FOOTER */
  footer {
    background: rgb(20, 20, 20, 0.9);
    padding: 50px;
    text-align: center;
    color: var(--dark);
  }
  
  /* MEDIA QUERIES */
  
  @media(max-width: 900px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
      position: absolute;
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }
  
  @media(max-width: 700px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
     
  }
  
  @media(max-width: 500px) {
  
    .wrapper {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
  
    .netflixLogo {
      max-width: 100%;
      margin: auto;
      padding-right: 20px;
    }
  
    .main-nav {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    h1 {
      text-align: center;
      font-size: 18px;
    }
  
   
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    .box a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
  
    .logos {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }
     
  }